<button class="btnNav"
  value={{@value}}
  state={{@state}}
  image = {{@image}}
  hoverOff={{@hoverOff}}
  {{on "click" this.handleInteraction }}
  {{on "mouseenter" this.handlerHoverOn }}
  {{on "mouseleave" this.handlerHoverOff }}
  
> 
  {{#if this.onButton}}
    <span>
      <img src={{@image}}>
    </span>
  {{else}}
    <span>
      {{@text}}
    </span>
  {{/if}}
</button>
