<div class="nav">
    <div class="navHead">
                <LienNav
                    @class="btnNav"
                    @text="Jérémie"
                    @value ="Jérémie"
                    @state={{false}}
                    @hoverOff={{true}}
                /> 
    </div>  
    
    
    <ul class="menu">
        <li>
           <LienNav
            @class="btnNav"
            @text="Home"
            @value ="home"
            @image = "/assets/images/maison.png"
            @state={{true}}
            @hoverOff={{false}}
        /> 
        </li>
        <li>
           <LienNav
            @class="btnNav"
            @text="About"
            @value ="about"
            @image = "/assets/images/about.png"
            @state={{true}}
            @hoverOff={{false}}
        /> 
        </li>
        <li>
           <LienNav
            @class="btnNav"
            @text="Skills"
            @value ="skills"
            @image = "/assets/images/skills.png"
            @state={{true}}
            @hoverOff={{false}}
        /> 
        </li>
        <li>
           <LienNav
            @class="btnNav"
            @text="Work"
            @value ="work"
            @image = "/assets/images/Work.png"
            @state={{true}}
            @hoverOff={{false}}
        />
        </li>
        <li>
           <LienNav
            @class="btnNav"
            @text="Contact"
            @value ="contact"
            @image = "/assets/images/contact.png"
            @state={{true}}
            @hoverOff={{false}}
        /> 
        </li>
    </ul>
    <div class="navFoot">
        <ul class="navFootText">
            <li>coucou</li>
            <li>coucou</li>
            <li>coucou</li>
            <li>coucou</li>
        </ul>
    </div>    
</div>




